@charset "utf-8";

:root{
  --headerHeight: 3rem;
  --navHeight: 4rem;
  --footerHeight: 3rem;

  --background1: #ffffff;
  --background2: #f1f1f1;
  --header: #f1f1f188;
  --text: #222222;
  --textPale: #777777;

  --accent: #7FD9FB;
}

html, body{
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: "Barlow Semi Condensed", "IBM Plex Sans JP", sans-serif;
  font-size: 10px;

  background-color: var(--background1);
}

/* ======================================== */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  display: block;

  width: 100%;
  height: calc(var(--headerHeight) + var(--navHeight));

  background-color: var(--header);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

header>a{
  display: block;

  width: 100%;
  height: 100%;

  color: var(--text);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;

  line-height: var(--headerHeight);
  text-align: center;
  text-decoration: none;
}

/* ======================================== */

/* #navBtn{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: block;
  
  width: var(--headerHeight);
  height: var(--headerHeight);

  border: none;
  border-radius: 0;

  background-color: #ffffff00;
}

#navBtn span{
  display: block;
  margin: 4px auto;
  width: calc(var(--headerHeight) * 0.35);
  height: 1px;

  background-color: #222222;
  opacity: 1;

  transition: all .25s;
}

#navBtn.active span:nth-of-type(1){
  transform: translateY(5px);
  opacity: 0;
}

#navBtn.active span:nth-of-type(3){
  transform: translateY(-5px);
  opacity: 0;
} */

/* ======================================== */

/* nav{
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  z-index: 100;

  height: calc(100dvh - var(--headerHeight));
  width: 35%;

  background-color: #c0c0c066;
  backdrop-filter: blur(5px);

  transform: translateX(-100%);
  transition: all .25s;
}

nav.active{
  transform: translateX(0);
}

nav>h1{
  display: block;

  width: calc(100% - 4rem);
  height: auto;
  margin: 6rem 0 0 0;
  padding: 0 2rem;

  color: #222222;
  font-size: 1.5rem;
  font-weight: 700;

  line-height: 3rem;
  text-align: left;
}

nav>a{
  display: block;

  width: calc(100% - 4rem);
  height: auto;
  margin: 2rem 0 0 0;
  padding: 0 2rem;

  color: #222222;
  font-size: 1rem;
  font-weight: 500;

  line-height: 2rem;
  text-align: left;
} */

/* ======================================== */

nav{
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  z-index: 1;
  
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 0.25fr;

  width: 100%;
  height: var(--navHeight);
}

nav>span{
  display: block;

  width: 100%;
  height: calc(100% - 1px);

  margin: 0;
  padding: 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: var(--accent) solid 1px;
}

.navItem{
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;

  width: 100%;
  height: calc(100% - 1px);

  margin: 0;
  padding: 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: var(--accent) solid 1px;
  border-radius: 0.5rem 0.5rem 0 0;

  color: var(--textPale);

  text-decoration: none;
}

.navItem>i{
  display: block;

  width: 100%;
  height: 100%;

  color: var(--text);
  font-size: 1.5rem;

  line-height: calc(var(--navHeight) / 4 * 2);
  text-align: center;
  text-decoration: none;

  transition: all .25s;
}

.navItem>p{
  display: block;

  width: 100%;
  height: 100%;
  font-size: 0.75rem;

  line-height: calc(var(--navHeight) / 4 * 1);
  text-align: center;
  text-decoration: none;
}

.navItem.current{
  width: calc(100% - 2px);

  border-top: var(--accent) solid 1px;
  border-right: var(--accent) solid 1px;
  border-left: var(--accent) solid 1px;
  border-bottom: none;

  background-color: var(--background1);
}

.navItem.current>i{
  color: var(--accent);
}

/* ======================================== */

#topSpan{
  display: block;
  width: 100%;
  height: calc(var(--headerHeight) + var(--navHeight));
}

/* ======================================== */

.section{
  display: none;

  height: auto;

  margin-top: 0rem;
  margin-bottom: 3rem;
}

.section.current{
  display: block;
}

.section>h1{
  display: block;

  width: 100%;
  height: auto;

  margin: 2rem 0 1rem 0;
  padding: 0;

  color: var(--text);
  font-size: 1.5rem;
  font-weight: 400;

  line-height: 3rem;
  text-align: center;
}

/* ======================================== */

#currentTimeWindow{
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: 1;

  display: grid;
  grid-template:
    "today time" 1fr
    "remain remain" 1fr
    / 1fr 1fr;


  width: 80%;
  height: auto;

  background-color: var(--background2);
  border-radius: 10px 10px 0 0;
}

#currentTimeWindow>p{
  display: block;

  margin: 0;
  padding: 1rem 0;

  color: var(--text);
  font-size: 1.75rem;
  font-weight: 400;
  font-variant-numeric: tabular-nums;

  line-height: 3rem;
  text-align: center;
}

#currentDate{
  grid-area: today;

  width: 100%;
  height: 3rem;
}

#currentTime{
  grid-area: time;

  width: 100%;
  height: 3rem;
}

#remainingTime{
  grid-area: remain;

  width: 100%;
  height: 3rem;
}

/* ======================================== */

footer{
  display: block;

  width: 40%;
  height: auto;

  margin: 0;
  padding: 0.5rem 30%;

  background-color: var(--background2);
}

#copyright{
  display: block;

  width: 100%;

  margin: 1rem 0;

  color: var(--text);
  font-size: 0.875rem;
  font-weight: 400;

  line-height: 1.5rem;
  text-align: center;
}

#colorMode{
  display: block;

  width: 60%;

  margin: 1.5rem auto;
  padding: 0;

  background-color: var(--background1);
  border: var(--textPale) 1px solid;
  border-radius: 1.5rem;

  color: var(--text);
  font-size: 0.875rem;
  font-weight: 400;

  line-height: 3rem;
  text-align: center;
}

#colorMode>i{
  margin: 0 1rem 0 0;

  font-size: 1.25rem;

  line-height: 3rem;
}

/* ======================================== */

/* スマホで文字サイズが自動で切り替わってしまうことを防ぐ */
* {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* Safari */
}