@charset "utf-8";

:root{
  --background1: #ffffff;
  --background2: #f1f1f1;
  --background3: #f9f9f9;
  --text: #222222;

  --accent: #7FD9FB;
}

#sectionWaitTime{
  width: 90%;

  margin-right: auto;
  margin-left: auto;
}

#sectionWaitTime>h2{
  display: block;

  width: 100%;
  height: 2rem;
  
  margin: 0;
  padding: 0.5rem 0;

  color: var(--text);
  font-size: 1.125rem;
  font-weight: 400;

  line-height: 1.5rem;
  text-align: left;
}

.waitContainer{
  position: relative;

  display: grid;
  grid-template:
    "class title time" 5rem
    "desc desc desc" 23rem
    / 1fr 6fr 5rem;
  
  width: 100%;
  height: 6rem;

  margin: 0 auto 1.5rem auto;
  padding: 0;
  
  border-radius: 15px;
  background: linear-gradient(225deg, var(--background3), var(--background1));
  box-shadow:
    -15px 15px 30px var(--background2),
    15px -15px 30px var(--background1);

  transition: all .25s;
}

.waitContainer.active{
  height: 28rem;
}

.waitContainer>h2{
  grid-area: class;

  display: block;
  width: 100%;
  height: 5rem;

  margin: 0;
  padding: 0;

  color: var(--textPale);
  font-size: 1.375rem;
  font-weight: 500;

  line-height: 5rem;
  text-align: center;
}

.waitContainer::after{
  content: "\f107";

  position: absolute;
  bottom: 0.75rem;
  right: 0;

  display: inline-block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  color: var(--textPale);
  font-family: "Font Awesome 6 Free";
  font-size: 1rem;
  font-weight: 900;

  line-height: 1rem;
  text-align: center;

  transition: all .25s;
  transform: rotate(0deg);
  transform-origin: center;
}

.waitContainer.active::after{
  bottom: 22.75rem;

  transform: rotate(180deg);
}

.waitContainer>h1{
  grid-area: title;

  display: block;
  width: 100%;
  height: 5rem;

  margin: 0;
  padding: 0;

  color: var(--text);
  font-size: 1.375rem;
  font-weight: 500;

  line-height: 5rem;
  text-align: left;
}

.waitContainer>p{
  grid-area: time;

  display: block;
  width: calc(100% - 1rem);
  height: 5rem;
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;

  border-radius: 0 15px 15px 0;

  color: var(--text);
  font-size: 2.75rem;
  font-weight: 600;

  line-height: 5rem;
  text-align: center;
}

.waitContainer>p::after{
  content: "分";

  display: inline-block;

  color: var(--text);
  font-size: 0.75rem;
  font-weight: 600;
}

/* ======================================== */

.waitContainer>.waitContainerStretch{
  grid-area: desc;

  display: block;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  transition: all .25s;
  transform: scaleY(0);
  transform-origin: 0 0;
}

.waitContainer.active>.waitContainerStretch{
  transform: scaleY(1);
}

.waitContainerStretch>a{
  display: block;

  width: calc((100% - 5rem) / 7 * 6);
  height: 1.5rem;

  margin: 0;
  padding: 0.25rem 5rem 0.25rem calc((100% - 5rem) / 7 * 1);

  color: var(--textPale);
  font-size: 1.125rem;
  font-weight: 500;

  line-height: 2.5rem;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.waitContainerStretch>a>i{
  margin: 0 0.75rem 0 0;
}

.waitContainerStretch>p{
  display: block;

  width: calc((100% - 5rem) / 7 * 6);
  height: 9rem;

  margin: 0;
  padding: 1rem 5rem 1rem calc((100% - 5rem) / 7 * 1);

  color: var(--text);
  font-size: 1.125rem;
  font-weight: 300;

  line-height: 1.5rem;
  text-align: left;
}

.waitContainerStretch>img{
  display: block;

  width: 100%;
  height: 10rem;

  margin: 0;
  padding: 0;
  
  object-fit: cover;

  border-radius: 0 0 15px 15px;
}

/* ======================================== */

#waitTimeChart{
  display: block;
  
  width: calc(100% - 2rem);
  height: auto;

  margin: 0 auto 1.5rem auto;
  padding: 1.5rem 1rem;
  
  border-radius: 15px;
  background: linear-gradient(225deg, var(--background3), var(--background1));
  box-shadow:
    -15px 15px 30px var(--background2),
    15px -15px 30px var(--background1);
}

#waitTimeChart>h1{
  display: block;

  width: 100%;
  height: 2rem;

  color: var(--text);
  font-size: 1.5rem;
  font-weight: 400;

  line-height: calc(20rem / 9 * 0.5);
  text-align: center;
}

#waitTimeChart>div{
  display: grid;
  grid-template-columns: 1fr 6fr;

  width: 100%;
  height: calc(3rem * 9);

  margin: 0;
  padding: 0;
}

#data{
  display: grid;
  grid-template-rows: repeat(9, 1fr);

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#data>.chartBar{
  display: block;

  height: 1.75rem;

  margin: 0.625rem auto 0.625rem 0;
  padding: 0;

  background-color: var(--accent);

  border-radius: 0.5rem;
}

/* #data>.chartBar::before{
  content: attr(time-label);

  display: block;

  width: 100%;
  height: 2rem;

  margin: 0;
  padding: 0 0 0 0.5rem;

  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;

  line-height: 1.75rem;
  text-align: left;
} */

#option{
  display: grid;
  grid-template-rows: repeat(9, 1fr);

  width: calc(100% - 1rem);
  height: 100%;

  margin: 0.5rem 1rem 0.5rem auto;
  padding: 0;

  color: var(--text);
  font-size: 1.375rem;
  font-weight: 500;

  line-height: 2rem;
  text-align: right;
}